@import url('https://fonts.googleapis.com/css2?family=Damion&display=swap');

.App{
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    text-align: center;
    z-index: 1000;
}

.App .logo-container{
    margin-bottom: 30px;
}

.App .logo-container h1{
    position: relative;
    display: inline-block;
    width: 100px;
    top: 20px;
    margin-left: 20px;
    font-family: 'Damion', cursive;
    font-size: 60px;
}

.App .process-step{
    text-align: left;
    background-color: #f1f2f6;
    margin-bottom: 20px;
    padding: 20px 30px;
    border-width: 2px;
    border-style: solid;
}

.App .process-step.done{
    border-color: #4cd137;
}

.App .process-step.current{
    border-color: #e84118;
}

.App .process-step.inactive{
    border-color: #353b48;
}